# /etc/systemd/system/java-capabilities-watchdog.service
[Unit]
Description=Reapply CAP_NET_BIND_SERVICE to Java

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'setcap cap_net_bind_service=+ep "$(readlink -f /usr/bin/java)"'
