* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
}

a {

    color: #00bfff;
    text-decoration: underline;
}

p {

    text-align: justify;
}

figcaption {

    font-size: 16px;
    font-style: italic;
}

button {

    font-weight: bold;
}

.background {

    background-size: 32px 32px, 32px 32px, 100% 100%;
    background-color: #020617;
    background-attachment: fixed;

    background-image:
        linear-gradient(to right, #4755694d 1px, transparent 1px),
        linear-gradient(to bottom, #4755694d 1px, transparent 1px),
        radial-gradient(circle at 50% 50%, #5cb1f626 0%, transparent 70%);
}

.navbar {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00000cbf;
    border-bottom: 2px solid #0079a2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav-container {

    display: flex;
    padding: 15px 30px;
}

.nav-item {

    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-item:first-child {

    flex-grow: 1;
}

.nav-icon {

    width: 35px;
    margin-right: 10px;
}

.nav-crumb {

    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 15px;
}

.default-container {

    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding: 200px 150px;
}

/* Mobile screens */
@media screen and (max-width: 1000px) {

    figcaption {

        font-size: 14px;
    }

    .default-container {

        padding: 80px 30px;
    }
}
