.chartjs-canvas {

    display: block;
    width: 100%;
    padding: 15px;
    border: 2px solid #0079a2;
    background-color: #020617;
    color: white;
    border-radius: 30px;
}

#RequestsPerSecondChart, #LatencyChart, #SystemMemoryChart, #SystemCpuChart, #SystemThreadChart {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}
