.loader {

    width: 100%;
    height: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.15);
}

.loader::after {

    width: 192px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: #0079a2;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {

    0% {

        left: 0;
        transform: translateX(-100%);
    }

    100% {

        left: 100%;
        transform: translateX(0%);
    }
}
