app:
  session:
    admin:
      maxSessions: 20
      sessionDuration: 14400 # Seconds
    cookieName: "GattosLabSessionId"
    loginDelay: 500 # Milliseconds
    cleanSchedule: "0 * * * * *" # Every minute
  batch:
    poolSize: 4
    terminationWaitPeriod: 10 # Seconds
  metrics:
    dumpToDbSchedule: "0 * * * * *" # Every minute
    enabled: true # Only affects performance metrics, system (JVM) metrics will be collected regardless
    siphonCapacity: 100000
  ratelimit:
    enabled: true
    maxTokensPerIp: 200
    replenishRate: 10000 # Milliseconds
    retryAfter: 60000 # Milliseconds
  site:
    cacheDuration: 1440 # Minutes
    root: site
  squash:
    logSchedule: "0 * * * * *" # Every minute
server:
  compression:
    enabled: false
  connection-timeout: 30000 # Milliseconds
  forward-headers-strategy: "framework"
  http2:
    enabled: true
  max-http-request-header-size: 2048 # Bytes
  shutdown: "graceful"
  tomcat:
    accept-count: 256 # Maximum pending connection queue depth
    max-connections: 8192
    max-keep-alive-requests: 256
    max-swallow-size: 1048576 # Bytes
    processor-cache: 256 # Number of request "processors" to keep cached (to avoid frequent object creation)
spring:
  application:
    name: "Gatto's lab"
  jackson:
    default-property-inclusion: "non_null"
    deserialization:
      fail-on-unknown-properties: true
  jmx:
    enabled: false
  lifecycle:
    timeout-per-shutdown-phase: "15s" # Seconds
  mvc:
    publish-request-handled-events: false
  threads:
    virtual:
      enabled: true
  web:
    resources:
      add-mappings: false
