<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>

    <!---->
    <appender name = "STANDARD_LOGS" class = "ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class = "ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>./observability/logs/gattoslab-logs-%d{yyyy-MM-dd-HH}-%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>

        </rollingPolicy>

        <encoder class = "io.github.clamentos.gattoslab.observability.logging.LogsEncoder"/>
    
    </appender>

    <appender name = "REQUEST_METRICS_APPENDER" class = "ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class = "ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>./observability/request_metrics/gattoslab-request-metrics-%d{yyyy-MM-dd-HH}-%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>

        </rollingPolicy>

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    
    </appender>

    <appender name = "SYSTEM_METRICS_APPENDER" class = "ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class = "ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>./observability/system_metrics/gattoslab-system-metrics-%d{yyyy-MM-dd-HH}-%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>

        </rollingPolicy>

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    
    </appender>

    <!---->
    <logger name = "REQUEST_METRICS_LOGGER" level = "TRACE" additivity = "false">
        <appender-ref ref="REQUEST_METRICS_APPENDER"/>
    </logger>

    <logger name = "SYSTEM_METRICS_LOGGER" level = "TRACE" additivity = "false">
        <appender-ref ref="SYSTEM_METRICS_APPENDER"/>
    </logger>

    <root level = "INFO">
        <appender-ref ref = "STANDARD_LOGS"/>
    </root>

    <!---->
</configuration>
