<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>

    <!---->
    <appender name = "MONGO_LOGS" class = "io.github.clamentos.gattoslab.observability.logging.MongoAppender"></appender>

    <!---->
    <logger name = "console_logger" level="INFO" additivity = "false">

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

    </logger>

    <root level = "INFO">
        <appender-ref ref = "MONGO_LOGS"/>
    </root>

    <!---->
</configuration>
