<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>

    <!---->
    <appender name = "MONGO_LOGS" class = "io.github.clamentos.gattoslab.observability.logging.MongoAppender"></appender>

    <!---->
    <root level = "info">
        <appender-ref ref = "MONGO_LOGS"/>
    </root>

    <!---->
</configuration>
