* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #ffffff;
}

a {

    text-decoration-color: #8be9fd;
    font-style: italic;
}

p {

    text-align: justify;
}

figcaption {

    font-size: 16px;
    font-style: italic;
}

button {

    font-weight: bold;
}

code {

    color: #f1fa8c;
    background-color: #323443;
    padding: 0px 4px 0px 4px;
    border-radius: 8px;
}

.icon-button {

    background-color: #0a0a0d;
    border: 1px solid #ffb86c;
    border-radius: 10px;
    width: 25px;
}

.hidden-element {

    display: none !important;
}

.background {

    background-size: 32px 32px, 32px 32px, 100% 100%;
    background-color: #14151b;
    background-attachment: fixed;

    background-image:
        linear-gradient(to right, #4755694d 1px, transparent 1px),
        linear-gradient(to bottom, #4755694d 1px, transparent 1px),
        radial-gradient(circle at 50% 50%, #6272a426 0%, transparent 70%);
}

.navbar {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #14151b;
    border-bottom: 1px solid #bd93f9bf;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav-container {

    display: flex;
    padding: 15px 30px;
}

.nav-item {

    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-item:first-child {

    flex-grow: 1;
}

.nav-icon {

    width: 35px;
    margin-right: 10px;
}

.nav-crumb {

    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 15px;
}

.default-container {

    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding: 200px 50px;
}

.error-toast {

    width: 83%;
    background-color: #14151b;
    border: 1px solid #bd93f9bf;
    border-radius: 15px;
    padding: 16px;
    z-index: 1;
    bottom: 30px;
    color: #ff5555;
    margin: 15px auto;
    -webkit-animation: fadein 1s, fadeout 1s 4s;
    animation: fadein 1s, fadeout 1s 4s;
}

#error-container {

    width: 600px;
    display: block;
    margin-left: -300px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

@media screen and (max-width: 1000px) {

    figcaption {

        font-size: 14px;
    }

    .default-container {

        padding: 80px 30px;
    }

    #error-container {

        width: 420px;
        margin-left: -210px;
    }
}

@keyframes fadein {

    from {

        opacity: 0;
        transform: translateY(10px);
    }

    to {

        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeout {

    from {

        opacity: 1;
        transform: translateY(0);
    }

    to {

        opacity: 0;
        transform: translateY(10px);
    }
}
