body, html, h1, p, ul, li, figcaption {

    color: white;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {

    color: #00bfff;
    text-decoration: underline;
}

p {

    text-align: justify;
}

figure {

    margin: 0;
}

figcaption {

    font-size: 18px;
}

button {

    font-weight: bold;
}


.background {

    height: 100%;
    background-size: 32px 32px, 32px 32px, 100% 100%;
    background-color: #020617;
    background-attachment: fixed;

    background-image:
        linear-gradient(to right, rgba(71,85,105,0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(71,85,105,0.3) 1px, transparent 1px),
        radial-gradient(circle at 50% 50%, rgba(92, 177, 246, 0.15) 0%, transparent 70%);
}

.navbar {

    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 12, 0.75);
    border-bottom: 2px solid #0079a2;
}

.nav-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 30px;
}

.nav-item {

    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0px;
}

.nav-icon {

    width: 35px;
    margin-right: 10px;
}

.nav-crumb {

    margin: 0px auto 10px auto;
}


.header-container {

    padding: 300px 150px;
}

.header-title {

    font-size: 144px;
}

.header-text {

    width: 100%;
    max-width: 700px;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
}


.cards-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.card, .static-card {

    width: 500px;
    height: 700px;
    margin: 50px;
    background-color: #00000c;
    border: 2px solid #0079a2;
}

.card:hover {

    transition: 0.25s;
    box-shadow: 0px 0px 12px #00bfff;
}

.card-header {

    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.card-image {

    object-fit: contain;
    width: 500px;
    height: 100%;
}

.card-content-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 35px;
    height: 50%;
    border-top: 2px solid #0079a2;
}

.card-title {

    font-size: 45px;
    padding-bottom: 30px;
}

.card-description {

    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
}

.card-footer-container {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.card-footer {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px solid #0079a2;
}


.project-container {

    margin: 200px 400px;
    padding: 100px;
    border: 2px solid #0079a2;
    background-color: rgba(0, 0, 12, 0.75);
}

.project-title {

    font-size: 100px;
    margin-bottom: 60px;
}

.project-subtitle {

    margin-top: 50px;
    margin-bottom: 15px;
}


.form-error {

    color: #ff4040;
    width: 100%;
    margin-top: 5px;
    height: 25px;
}


.login-container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-input, .login-button, .logout-button, .form-button {

    width: 100%;
    height: 40px;
    margin-top: 45px;
    background-color: black;
    border: 2px solid #0079a2;
    color: white;
}

.login-input {

    box-sizing: border-box;
    font-size: 18px;
    padding: 8px;
}

.login-button:hover, .logout-button:hover, .form-button:hover {

    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0px 0px 6px #00bfff;
}

.logout-button {

    margin-top: 0px;
    padding: 8px;
}


.charts-form-group {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.charts-form-input-group {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 350px;
    min-width: 300px;
    margin-top: 10px;
}

.charts-form {

    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 50px;
    background-color: #020617;
    border: 2px solid #0079a2;
}

.chart-form-input {

    height: 40px;
    margin-top: 10px;
    background-color: black;
    border: 2px solid #0079a2;
    color: white;
    padding-left: 10px;
}

.chartjs-canvas, .chartjs-canvas-selected {

    background-color: #020617;
    padding: 15px;
    border: 2px solid #0079a2;
    color: white;
    width: 100%;
    display: none !important;
}

.chartjs-canvas-selected {

    display: block !important;
}

#RequestsPerSecondChart, #LatencyChart {

    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 100px;
}

.tabs-header {

    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 50px;
    background-color: #020617;
    border-top: 2px solid #0079a2;
    border-left: 2px solid #0079a2;
    border-right: 2px solid #0079a2;
}

.tabs-button, .tabs-button-selected {

    width: 150px;
    height: 100%;
    border: none;
    background-color: #020617;
    color: white;
    cursor: pointer;
    border-right: 2px solid #0079a2;
}

.tabs-button-selected {

    background-color: #0079a2;
}

.tabs-button:hover {

    background-color: #0079a241;
}

#API-error {

    margin-top: 20px;
}


.table-container {

    width: 100%;
    margin: 100px;
    overflow: scroll;
}

.logs-table {
    
    display: block;
    table-layout: fixed;
    width: 200%;
    border-collapse: collapse;
    background-color: #020617;
    word-break: break-all;
}

.logs-table * {

    border: 2px solid #0079a2;
    padding: 8px;
}

.logs-table-header * {

    height: 100px;
    font-weight: bold;
    font-size: 24px;
}


/* Mobile screens */
@media screen and (max-width: 1000px) {

    .header-container {

        padding: 80px 60px;
    }

    .header-title {

        font-size: 64px;
    }

    .header-text {

        font-size: 18px;
    }

    .card {

        width: 350px;
        margin: 30px 10px;
    }

    .card-title {

        font-size: 30px;
    }

    .card-image {

        width: 350px;
    }

    .card-description, .card-footer *, .project-text {

        font-size: 14px;
    }

    .project-container {

        margin: 50px 30px;
        padding: 30px;
    }

    .project-title {

        font-size: 50px;
        margin-bottom: 30px;
    }

    .project-subtitle {

        margin-top: 30px;
        font-size: 25px;
    }

    figcaption {

        font-size: 14px;
    }

    .charts-form {

        margin: 40px;
        padding: 30px;
    }
}
