body, html, h1, p {

    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {

    color: #00bfff;
    text-decoration: underline;
}

img {

    object-fit: contain;
    width: 500px;
    height: 100%;
}

h1, p, ul, li, figcaption {

    color: white;
}

li {

    margin-bottom: 15px;
}

figcaption {

    margin-top: 15px;
}


.background {

    height: 100%;
    background-size: 32px 32px, 32px 32px, 100% 100%;
    background-color: #020617;
    background-attachment: fixed;

    background-image:
        linear-gradient(to right, rgba(71,85,105,0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(71,85,105,0.3) 1px, transparent 1px),
        radial-gradient(circle at 50% 50%, rgba(92, 177, 246, 0.15) 0%, transparent 70%);
}


.navbar {

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 75px;
    background-color: rgba(0, 0, 12, 0.75);
    border-bottom: 2px solid #0079a2;
}

.nav-item {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 50px;
}

.nav-icon {

    width: 40px;
}

.nav-link {

    margin-left: 10px;
}


.header-container {

    padding: 300px 150px 300px 150px;
}

.header-title {

    font-size: 8rem;
}

.header-text, .project-text {

    width: 100%;
    max-width: 700px;
    font-size: 1.25rem;
    text-align: justify;
    text-justify: inter-word;
}


.cards-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.card, .card-static {

    width: 500px;
    height: 700px;
    margin: 50px;
    background-color: #00000c;
    border: 2px solid #0079a2;
}

.card:hover {

    transition: 0.25s;
    box-shadow: 0px 0px 12px #00bfff;
}

.card-header {

    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.card-content-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 35px;
    height: 50%;
    border-top: 2px solid #0079a2;
}

.card-title {

    font-size: 2.5rem;
    padding-bottom: 30px;
}

.card-description {

    text-align: justify;
    text-justify: inter-word;
    font-size: 1rem;
}

.card-footer-container {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.card-footer {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 15px;
    border-top: 1px solid #0079a2;
}


.project-title {

    margin-bottom: 80px;
}

.project-subtitle {

    margin-top: 50px;
    margin-bottom: 20px;
}

.project-text-container {

    margin: 200px 400px 200px 400px;
    padding: 100px;
    border: 2px solid #0079a2;
    background-color: rgba(0, 0, 12, 0.75);
}

.project-text {

    max-width: 1200px;
}

.project-text-list {

    font-size: 1.25rem;
}


.login-container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-input {

    width: 100%;
    height: 40px;
    margin-top: 45px;
    box-sizing: border-box;
    background-color: black;
    font-size: medium;
    border: 2px solid #0079a2;
    padding: 8px;
    color: white;
}

.login-button {

    width: 100%;
    height: 40px;
    margin-top: 40px;
    background-color: black;
    border: 2px solid #0079a2;
    color: white;
}

.login-button:hover {

    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0px 0px 12px #00bfff;
}

@media screen and (max-width: 1000px) {

    .header-container, .project-text-container {

        padding: 100px 80px 100px 80px;
    }

    .header-title {

        font-size: 6rem;
    }
}


.chartjs-canvas, .chartjs-canvas-selected {

    background-color: #020617;
    padding: 15px;
    border: 2px solid #0079a2;
    color: white;
    width: 100%;
    display: none !important;
}

.chartjs-canvas-selected {

    display: block !important;
}

#rps-charts, #latency-charts {

    width: 1800px;
    margin-bottom: 100px;
}

.charts-form {

    width: 1696px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    background-color: #020617;
    border: 2px solid #0079a2;
}

.tabs-header {

    display: flex;
    height: 50px;
    background-color: #020617;
    border-top: 2px solid #0079a2;
    border-left: 2px solid #0079a2;
    border-right: 2px solid #0079a2;
}

.tabs-button, .tabs-button-selected {

    width: 200px;
    height: 100%;
    border: none;
    background-color: #020617;
    color: white;
    cursor: pointer;
    border-right: 2px solid #0079a2;
}

.tabs-button-selected {

    background-color: #0079a2;
}

.tabs-button:hover {

    background-color: #0079a241;
}
