.card, .no-hover-card  {

    width: 500px;
    height: 700px;
    background-color: #00000c;
    border: 2px solid #0079a2;
    border-radius: 30px;
}

.card:hover {

    transition: 0.15s;
    box-shadow: 0px 0px 12px #00bfff;
}

.card-header {

    display: flex;
    justify-content: center;
    height: 280px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card-image {

    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card-content-container {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 420px;
    padding: 35px;
    border-top: 2px solid #0079a2;
}

.card-title {

    font-size: 45px;
    padding-bottom: 30px;
}

.card-footer-container {

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card-footer {

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #0079a2;
}

/* Mobile screens */
@media screen and (max-width: 1000px) {

    .card {

        width: 100%;
    }

    .card-title {

        font-size: 30px;
    }

    .card-description, .card-description > a, .card-footer *, .project-text {

        font-size: 14px;
    }
}
