.logout-button {

    width: 100px;
    height: 30px;
    background-color: #00000c;
    border: 2px solid #0079a2;
    border-radius: 15px;
}

.logout-button:hover {

    cursor: pointer;
    transition: 0.15s;
    box-shadow: 0px 0px 6px #00bfff;
}
