name: Java CI pipeline
on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - ".gitignore"
      - ".gitattributes"
      - ".mvn/**"
      - ".github/**"
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      environment:
        description: 'Environment to deploy'
        required: true
        default: 'dev'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5
      - name: Cache Maven dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
            target
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Setup JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: "25"
          distribution: "temurin"
          cache: maven
      - name: Build with Maven
        run: mvn clean package
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Jar
          path: target/*.jar
          if-no-files-found: error
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: Jar
          path: "/home/runner/work/GattosLab/GattosLab/target/"
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.HETZNER_HOST }} >> ~/.ssh/known_hosts
      - name: Stop old remote process and clean directory
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.HETZNER_USER }}@${{ secrets.HETZNER_HOST }} << 'EOF'
            if test -e current_pid.txt; then
              pid=$(cat current_pid.txt)
              if [ ! -z "$pid" ]; then
                kill -15 $pid
                while ps -p $pid > /dev/null; do 
                  sleep 1s;
                  echo "Waiting for process " $pid " to terminate..."
                done;
                echo "Process " $pid " stopped"
              fi
            fi
            rm -f -- /home/GattosLab/*.jar
            rm -f -- /home/GattosLab/nohup.out
            rm -f -- /home/GattosLab/current_pid.txt
          EOF
      - name: Upload to remote
        run: |
          scp -i "~/.ssh/id_rsa" -o StrictHostKeyChecking=no /home/runner/work/GattosLab/GattosLab/target/*.jar ${{ secrets.HETZNER_USER }}@${{ secrets.HETZNER_HOST }}:/home/GattosLab
      - name: Start new remote process
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.HETZNER_USER }}@${{ secrets.HETZNER_HOST }} << 'EOF'
            nohup java -jar /home/GattosLab/*.jar --server.ssl.key-store-password=${{ secrets.KEYSTORE_PSW }} --app.metrics.apiKey=${{ secrets.METRICS_API_KEY }} -Dspring.profiles.active=prod > /dev/null 2>&1 &
            echo $! > /home/GattosLab/current_pid.txt
          EOF
