name: Java CI pipeline
on:
  push:
    branches:
      - main
    paths-ignore:
      - "scripts/**"
      - "README.md"
      - "LICENSE"
      - "mvnw"
      - "mvnw.cmd"
      - ".gitignore"
      - ".gitattributes"
      - ".mvn/**"
      - ".github/**"
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5
      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            target
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Setup JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: "25"
          distribution: "temurin"
          cache: maven
      - name: Build with Maven
        run: mvn clean package -DskipTests
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Jar
          path: target/*.jar
          if-no-files-found: error
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: Jar
          path: "/home/runner/work/GattosLab/GattosLab/target/"
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.HETZNER_HOST }} >> ~/.ssh/known_hosts
      - name: Stop old remote process and clean directory
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.HETZNER_USER }}@${{ secrets.HETZNER_HOST }} << 'EOF'
            /home/GattosLab/stop.sh
            rm -f -- /home/GattosLab/*.jar
          EOF
      - name: Upload to remote
        run: |
          scp -i "~/.ssh/id_rsa" -o StrictHostKeyChecking=no /home/runner/work/GattosLab/GattosLab/target/*.jar ${{ secrets.HETZNER_USER }}@${{ secrets.HETZNER_HOST }}:/home/GattosLab
      - name: Start new remote process
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.HETZNER_USER }}@${{ secrets.HETZNER_HOST }} << 'EOF'
            nohup java -jar ./gattoslab*.jar --spring.profiles.active=prod --server.ssl.key-store-password=${{ secrets.KEYSTORE_PSW }} --app.admin.apiKey=${{ secrets.METRICS_API_KEY }} -Xmx2G &
            echo $! > ./current_pid.txt
          EOF
